
---------------------------------------------------------
Model: {{model}}
---------------------------------------------------------
{% for name, field in model.model_fields.items() %}
  {{name}}: <TYPE {{field.annotation}}>
    {% if field.json_schema_extra %} Field Metadata: {{field.json_schema_extra}} {% endif -%}
    {% if field.default == Ellipsis %} Required {% endif %}
    {% if field.default is not none and field.default != PydanticUndefined %} Default: {{field.default}} {% endif %}
{% endfor %}